<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>{% block titulo %}{% endblock %}</title>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>
  {% block style_css %}{% endblock %}
  <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
  <script src='{{STATIC_URL}}js/demo.js'></script>
</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	<nav>
	  <ul>
		  <li><a href='/'>Inicio</a></li>
      {% if request.user.is_authenticated %}
        <li><a href='/crear_administrador'>crear administrador</a></li>
        <li><a href='/listar'>listar</a></li>
        <li><a href='/cerrar'>Cerrar sesion</a></li>       
      {% endif %}

		</ul>
	</nav>
  </header>
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <footer>
  </footer>
</body>
</html>
